/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Reset CSS */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*::before,
*::after {
  box-sizing: inherit;
}

body{
    margin: 0;
    background-color: #262435;
    font-family: 'Luckiest Guy', cursive;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
    padding: 10px 10px;
}

.center-screen{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
}

.game-container {
    width: 1200px;
    height: 575px;
    display: none;
    position: absolute;
    top: 100px;
    left: 50px;
    z-index: 10000;
    border-radius: 10px;
    background-color: #3f3b5e;
    align-items: center;
}

.banner {
    font-size: 16px;
    color: #262435;
    position: fixed;
    width: 500px;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 50px 50px;
    background-color: white;
    border-radius: 20px;
}

.banner > h1 {
    font-size: 40px;
}

.banner img{
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 400px;
}

.menu-banner-content {
    overflow-y: auto;
    margin-bottom: 20px;
    width: 100%;
}

.menu-banner-content h3 {
    font-size: 30px;
    color:rgb(100 116 139);
}

.menu-banner-content p {
    font-size: 24px;
    text-indent: 20px;
    color:rgb(148 163 184);
}

.game-timer {
    width: 250px;
    height: 300px;
    display: none;
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 10000;
    border-radius: 10px;
    background-color: #3f3b5e;
    flex-direction: column;
    padding: 20px 20px;
    align-items: center;
}

.timer, .timer-info {
    height: 50px;
    display: flex;
    color: white;
    justify-content: space-around;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.timer {
    font-size: 40px;
}

.icon-block {
    width: 50px;
    height: 50px;
    background-color:#595292;
    border-radius: 10px;
    font-size: 40px;
    padding: 5px 5px;
    line-height: 50px;
}

.step-info, .timer-count{
    min-width: 150px;
    max-width: 150px;
}

.deck{
    width: 1000px;
    height: 300px;
    padding: 20px 20px;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: auto auto;
}
.card-container{
    background-color: transparent;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.card-container:hover .card{
    box-shadow:
        0 0px 1.5px -4px rgba(255, 255, 255, 0.333),
        0 0px 3.9px -4px rgba(255, 255, 255, 0.436),
        0 0px 7.9px -4px rgba(255, 255, 255, 0.505),
        0 0px 15px -4px rgba(255, 255, 255, 0.577),
        0 0px 30.2px -4px rgba(255, 255, 255, 0.688),
        0 0px 80px -4px rgba(255, 255, 255, 1)
    ;
}

.card{
    position: relative; 
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    border-radius: 0.5rem;
}
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-out 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front{
    background-color: #262435;
    background-image: url("../img/face-front.jpg");
    background-size: 120px auto;
    box-shadow:
        0 1.6px 2.2px rgba(0, 0, 0, 0.071),
        0 4.1px 5.5px rgba(0, 0, 0, 0.102),
        0 8.3px 11.2px rgba(0, 0, 0, 0.128),
        0 17.2px 23px rgba(0, 0, 0, 0.159),
        0 47px 63px rgba(0, 0, 0, 0.23)
    ;
}
.back{
    background-color: #ecf0f1;
    padding: 10px 10px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100px auto;
    transform: rotateY(180deg);
    box-shadow:
        0 0px 1.5px -4px rgba(255, 255, 255, 0.333),
        0 0px 3.9px -4px rgba(255, 255, 255, 0.436),
        0 0px 7.9px -4px rgba(255, 255, 255, 0.505),
        0 0px 15px -4px rgba(255, 255, 255, 0.577),
        0 0px 30.2px -4px rgba(255, 255, 255, 0.688),
        0 0px 80px -4px rgba(255, 255, 255, 1)
    ;
}

.flip{
    transform: rotateY(180deg);
}

.menu-choose{
    position: fixed;
    display: none;
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

.game-title{
    position: fixed;
    display: flex;
    color:white;
    width: 80%;
    margin: 0 10%;
    padding: 10px 0;
    font-size: 50px;
    text-transform: uppercase;
    justify-content: space-between;
}

.name-title{
    position: relative;
}

.name-title::before {
    position: absolute;
    color: rgb(148 163 184);
    top: 4px;
    left: 4px;
    width: 100%;
    height: 100%;
    content: "Memory Card";
}

.github-title{
    font-size: 25px;
}

.github-title > a {
    display: inline-block;
    color: tomato;
}

.github-title .sub-title{
    font-size: 16px;
    color:rgb(251 191 36);
    text-align: right;
}

.menu {
    top: 150px;
    width: 500px;
    height: 500px;
    background-color: #262435;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px 40px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    border-radius: 20px;
}

.menu-btn {
    display: inline-block;
    width: max-content;
    height: max-content;
    font-size: 40px;
    text-align: center;
    border-radius: 1rem;
    border: none;
    color: #7f8c8d;
    background-color: white;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
    word-wrap: break-word;
}

.menu-btn:hover{
    color: white; 
}

.btn {
    display: inline-block;
    width: max-content;
    height: max-content;
    font-size: 40px;
    text-align: center;
    border-radius: 1rem;
    border: none;
    color: #7f8c8d;
    background-color: white;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
    word-wrap: break-word;
}

.btn:hover{
    background-color: #7f8c8d;
    color: white; 
}

.deck .card.match {
    visibility: hidden;
    transition: visibility 0.1s linear;
}

.menu-banner {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: white;
    display: none;
    padding: 50px 50px;
    border-radius: 20px;
    color: #262435;
    font-size: 30px;
}

.op-container{
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.op-container span{
    color:teal;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.sizeOp, .diffOp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    font-size: 25px;
}

.sizeOp_item, .diffOp_item {
    padding: 0 0 0 10%;
}

.buttom-choose {
    display:  flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#bcktoMenu{
    background-color:#7f8c8d;
    color: white;
}
#bcktoMenu:hover{
    background-color: #262435;
}

.rangebtn{
    -webkit-appearance: none;
    width: 150px;
    height: 10px;
    border-radius: 5px; 
    outline: none;
    background-color:#ECF0F1;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.rangebtn::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: teal;
    cursor: pointer;
}

.sizebtn{
    font-size: 20px;
}
.soundOP{
    display: flex;
}

.htp-container{
    z-index: 11;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.htp-container > span{
    color:teal;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* .htp-main h2{
    font-size: 23px;
    color: #7F8C8D;
    margin-bottom: 10px;
}

.htp-main h3{
    font-size: 20px;
    margin-bottom: 10px;
    color: #B3BABB;
} */

#ok-menu{
    background-color:#7f8c8d;
    color: white;
}
#ok-menu:hover{
    background-color: #262435;
}

.about-container{
    z-index: 11;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.about-container > span{
    color:teal;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about-main h2{
    font-size: 19px;
    color: #7F8C8D;
    margin-bottom: 10px;
    text-align: center;
}

.about-main a {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.about-main img{
    border-radius: 50%;
}

.about-link {
    display:flex;
  align-items:center;
  justify-content:center;
}

#bcktoHome{
    font-size: 25px;
    margin: auto auto;
}

#bcktoHome:hover{
    background-color: rgb(172, 16, 16);
}
#about-menu{
    background-color:#7f8c8d;
    color: white;
}
#about-menu:hover{
    background-color: #262435;
}

.game-timer hr{
    width: 200px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}

.loser{
    z-index: 10000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


#bcktoloser{
    background-color: #ccc;
}

#bcktoloser:hover{
    background-color: rgb(138, 17, 17);
    color: white;
}

.winner{
    z-index: 10000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#bcktowinner{
    margin-top: 20px;
    background-color: #ccc;
}

#bcktowinner:hover{
    background-color: rgb(18, 110, 6);
    color: white;
}

#options:hover{
    background-color: teal;
}

#play:hover{
    background-color: tomato;
}
#how-to-play:hover{
    background-color: rgb(42, 153, 180);
}
#ranking:hover{
    background-color: brown;
}
#about:hover{
    background-color: rgb(90, 9, 79);
}

.op-container span{
    color: teal;
}
.htp-container span{
    color: rgb(42, 153, 180);
}
.about-container span{
    color: rgb(90, 9, 79);
}

.emote{
    width: 250px;
    height: 300px;
    display: none;
    position: absolute;
    top: 400px;
    margin-top: 20px;
    right: 10px;
    z-index: 10000;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px 20px;
    align-items: center;
}

.emote h1{
    position: absolute;
    z-index: 100000;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 2px;
    width: max-content;
    font-size: 20px;
}

.emote img{
    position:absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#full{
    display: none;
}

#loading{
    width: 100vw;
    height: 100vh;
    position:absolute;
    z-index: 10000000;
    background-color: #262435;
    display: flex;
    justify-content: center;
}
#loading.activee{
    animation-name: myAnimation;
    animation-duration: 500ms; 
}

@keyframes myAnimation{
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      opacity: 0;
    }
  }


.loading-content{
    margin: auto auto;
}

.loading-content img{
    width: 100px;
}
#ranking{
    display: none;
}

.ranking-container{
    z-index: 1000000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ranking-container span{
    color:brown;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
#ranking-menu{
    background-color:#7f8c8d;
    color: white;
}
#ranking-menu:hover{
    background-color: #262435;
}

#returntoMenu{
    background-color:#7f8c8d;
    color: white;
}
#returntoMenu:hover{
    background-color: #ca1e1e;
}
#bcktoMenu{
    background-color:#7f8c8d;
    color: white;
}
#bcktoMenu:hover{
    background-color: seagreen;
}

.chall-container{
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.chall-container > span{
    color:tomato;
    font-size: 40px;
    text-transform: uppercase;
}

#chall-back{
    background-color:#7f8c8d;
    color: white;
}
#chall-back:hover{
    background-color: #ca1e1e;
}
#chall-go{
    background-color:#7f8c8d;
    color: white;
}
#chall-go:hover{
    background-color: seagreen;
}

.chall-container p{
    color: rgb(119, 119, 119);
    font-size: 30px;
}

.loser-chall{
    z-index: 10000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#back-chall{
    background-color: #ccc;
    margin-top: 30px;
}

#back-chall:hover{
    background-color: rgb(138, 17, 17);
    color: white;
}

.winner-chall{
    z-index: 10000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#next-chall{
    margin-top: 20px;
    background-color: #ccc;
}

#next-chall:hover{
    background-color: rgb(18, 110, 6);
    color: white;
}

.final-chall{
    position: absolute;
    z-index: 10000;
    top: 150px;
    left: 400px;
    width: 700px;
    height: 500px;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    border-radius: 20px;
    color: #262435;
    font-size: 30px;

}

.final-chall img{
    border-radius: 10px;
    margin-top: 30px;
    width: 300px;
}

.final-chall h1{
    font-size: 37px;
}

#end-chall{
    margin-top: 20px;
    background-color: #ccc;
}

#end-chall:hover{
    background-color: rgb(18, 110, 6);
    color: white;
}

.round-count{
    position: absolute;
    z-index: 10000;
    top: 80px;
    right: 300px;
    display: none;
    color: white;
    font-size: 30px;
}

.ff{
    z-index: 1000000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    color: #262435;
    font-size: 30px;
}


.ff > span{
    color:tomato;
    font-size: 40px;
    text-transform: uppercase;
}

#ff-back{
    background-color: #ccc;
    margin-top: 30px;
}

#ff-back:hover{
    background-color: rgb(18, 110, 6);
    color: white;
}

#ff-go{
    margin-top: 20px;
    background-color: #ccc;
}

#ff-go:hover{
    background-color: rgb(138, 17, 17);
    color: white;
}

.rangesound{
    width: 200px;
}

.theme-item{
    display: flex;
}

.themeOP h3{
    color:rgb(18, 110, 6);
    font-size: 20px;
}

.theme-chon{
    font-size: 25px;
    width: 10px;
}

.hello{
    z-index: 10000;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hello .hello-content {
    font-size: 18px;
    text-transform: uppercase;
}

.hello .hello-content > h3 {
    font-size: 32px;
    color: #595292;
    text-align: center;
    margin-bottom: 8px;
}

.hello > span{
    color:teal;
    font-size: 40px;
    
    margin-bottom: 30px;
}

#hello-menu{
    background-color: #ccc;
    margin-top: 30px;
}

#hello-menu:hover{
    background-color: rgb(18, 110, 6);
    color: white;
}


.feedback{
    position: fixed;
    background-color: #3b3566;
    color: #ffff;
    width: 150px;
    height: 30px;
    font-size: 20px;
    z-index: 10000;
    bottom: 0px;
    right: 0;
    text-align: center;
    padding: 5px 5px;
    border-radius: 10px 10px 0 0;
}

.feedback > a {
    color: #ffff;
}



@media only screen and (max-width:768px) {
    .game-title {
        font-size: 32px;
        flex-direction: column;
    }

    .banner {
        top: 200px;
    }
    
    .banner {
        max-width: 90%;
        padding: 5% 5%;
    }

    .banner > h1 {
        font-size: 32px;
    }

    .banner img {
        max-width: 90%;
    }

    .btn {
        max-width: 90%;
        font-size: 24px;
    }

    .menu {
        max-width: 90%;
        padding: 5% 5%;
    }
    
    .menu-btn {
        max-width: 90%;
        font-size: xx-large;
    }

}

@media only screen and (max-width:768px) {
    .menu-btn {
        font-size: xx-large;
    }
}

@media only screen and (max-width:524px) {
    .menu {
        padding: 0 0 ;
    }

    .menu-banner {
        padding: 5% 5%;
    }

    .sizeOp, .diffOp {
        flex-direction: column;
        width: 100%;
    }

    .rangebtn {
        width: 100%;
    }
}